# Public output
site/
public/
build/

# Docs sources
docs/

# mkdocs cache
.cache

# dev envrc
.envrc.local

node_modules/

archive/

# Workspace directories (external to app repo)
../content/
../site/
../temp/

# Build artifacts
rockydocs-*/
.vercel
