# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        args: [--unsafe]
    -   id: check-added-large-files
-   repo: https://github.com/boidolr/pre-commit-images
    rev: v1.5.2
    hooks:
    -   id: optimize-png
    -   id: optimize-svg
    -   id: optimize-jpg
