---
site_name: "Documentation"
site_url: "https://docs.rockylinux.org/"
docs_dir: "docs/docs"
repo_url: https://github.com/rocky-linux/documentation
repo_name: rocky-linux/documentation
edit_uri: "edit/main/docs/"

theme:
  name: material
  custom_dir: theme
  # NOTE(nhanlon): 2023-04-06 GDPR - cannot self host. this can be removed once the privacy plugin is no-longer subscriber only
  font: false
  icon:
    edit: material/pencil
  features:
    - content.action.edit
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: black
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: black

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.tasklist
  - footnotes
  - def_list
  - meta

plugins:
  - search
  - awesome-pages
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - build: true
          default: true
          locale: en
          name: English
        - build: true
          default: false
          locale: af
          name: Afrikaans
        - build: true
          default: false
          locale: de
          name: Deutsch
        - build: true
          default: false
          locale: fr
          name: Français
        - build: true
          default: false
          locale: es
          name: Español
        - build: true
          default: false
          locale: id
          name: Bahasa Indonesia
        - build: true
          default: false
          locale: it
          name: Italian
        - build: true
          default: false
          locale: ja
          name: 日本語
        - build: true
          default: false
          locale: ko
          name: 한국어
        - build: true
          default: false
          locale: zh
          name: 简体中文
        - build: true
          default: false
          locale: sv
          name: Svenska
        - build: true
          default: false
          locale: pl
          name: Polish
        - build: true
          default: false
          locale: pt
          name: Português
        - build: true
          default: false
          locale: pt-BR
          name: Brazilian
        - build: true
          default: false
          locale: ru
          name: Russian
        - build: true
          default: false
          locale: uk
          name: Ukrainian
  - git-revision-date-localized:
      type: date
  - redirects:
      redirect_maps:
        "guides/add_mirror_manager.md": "guides/mirror_management/add_mirror_manager.md"
  - tags

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/rocky_linux
    - icon: fontawesome/brands/github
      link: https://github.com/rocky-linux
    - icon: fontawesome/brands/gitlab
      link: https://git.rockylinux.org
    - icon: material/home
      link: https://rockylinux.org

copyright: Copyright &copy; 2023 The Rocky Enterprise Software Foundation
