---
site_name: "Documentation"
site_url: "https://docs.rockylinux.org/"
docs_dir: "docs/docs"
repo_url: https://github.com/rocky-linux/documentation
repo_name: rocky-linux/documentation
edit_uri: "edit/main/docs/"

theme:
  name: material
  custom_dir: theme
  # NOTE(nhanlon): 2023-04-06 GDPR - cannot self host. this can be removed once the privacy plugin is no-longer subscriber only
  font: false
  icon:
    edit: material/pencil
  features:
    - content.action.edit
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: black
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: black

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.tasklist
  - footnotes
  - def_list
  - meta

plugins:
  - search
  - awesome-pages
  - i18n:
      default_language: en
      languages:
        en: English
        af: Afrikaans
        de: Deutsch
        fr: Français
        es: Español
        it: Italian
        ja: 日本語
        ko: 한국어
        zh: 简体中文
        sv: Svenska
        pl: Polish
        pt: Português
        pt-BR: Brazilian
        ru: Russian
        uk: Ukrainian
  - git-revision-date-localized:
      type: date
  - redirects:
      redirect_maps:
        "guides/add_mirror_manager.md": "guides/mirror_management/add_mirror_manager.md"
  - tags

extra:
  alternate:
    - name: Default (en)
      link: ./
      lang: en
    - name: English
      link: ./en/
      lang: en
    - name: Français
      link: ./fr/
      lang: fr
    - name: Afrikaans
      link: ./af/
      lang: af
    - name: Deutsch
      link: ./de/
      lang: de
    - name: Español
      link: ./es/
      lang: es
    - name: Italian
      link: ./it/
      lang: it
    - name: 日本語
      link: ./ja/
      lang: ja
    - name: 한국어
      link: ./ko/
      lang: ko
    - name: Polish
      link: ./pl/
      lang: pl
    - name: Português
      link: ./pt/
    - name: Brazilian
      link: ./pt-BR/
      lang: pt-BR
    - name: 简体中文
      link: ./zh/
      lang: zh
    - name: Svenska
      link: ./sv/
      lang: sv
    - name: Russian
      link: ./ru/
      lang: ru
    - name: Ukrainian
      link: ./uk/
      lang: uk

  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/rocky_linux
    - icon: fontawesome/brands/github
      link: https://github.com/rocky-linux
    - icon: fontawesome/brands/gitlab
      link: https://git.rockylinux.org
    - icon: material/home
      link: https://rockylinux.org

copyright: Copyright &copy; 2023 The Rocky Enterprise Software Foundation
