/**
 * Copyright 2021 Rocky Linux. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

:root {
    --md-accent-fg-color:        #10B981;
    --md-accent-fg-color--light: #34D399;
    --md-accent-fg-color--dark:  #059669;

    --md-typeset-a-color: var(--md-accent-fg-color);

    --md-text-font: "Red Hat Text";
    --md-code-font: "Red Hat Mono";
}

.md-nav__link.md-nav__link--active {
    color: var(--md-accent-fg-color) !important;
}

.md-typeset a {
    color: var(--md-accent-fg-color) !important;
}

.md-typeset a:hover {
    color: var(--md-accent-fg-color--dark) !important;
}

[data-md-color-scheme=slate] {
    --md-default-fg-color: hsla(var(--md-hue),75%,95%,1) !important;
}

[data-md-color-scheme=slate] .md-typeset h1 {
    color: var(--md-default-fg-color) !important;
}

.md-sidebar--primary .md-nav__link { display: flex; justify-content: space-between }

/*
Override reduced font size in admonitions and collapsible sections back to body size
 */

.md-typeset .admonition, .md-typeset details {
    font-size: .8rem;
}

/* GDPR Compliance */

/* red-hat-text-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/red-hat-text-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-text-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-text-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-text-v13-latin-300.svg#RedHatText') format('svg'); /* Legacy iOS */
}
/* red-hat-text-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/red-hat-text-v13-latin-300italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-text-v13-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-text-v13-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-text-v13-latin-300italic.svg#RedHatText') format('svg'); /* Legacy iOS */
}
/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/red-hat-text-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-text-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-text-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-text-v13-latin-regular.svg#RedHatText') format('svg'); /* Legacy iOS */
}
/* red-hat-text-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/red-hat-text-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-text-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-text-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-text-v13-latin-500.svg#RedHatText') format('svg'); /* Legacy iOS */
}
/* red-hat-text-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/red-hat-text-v13-latin-500italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-text-v13-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-text-v13-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-text-v13-latin-500italic.svg#RedHatText') format('svg'); /* Legacy iOS */
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/red-hat-text-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-text-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-text-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-text-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-text-v13-latin-700.svg#RedHatText') format('svg'); /* Legacy iOS */
}
/* red-hat-mono-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/red-hat-mono-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-mono-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-mono-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-mono-v10-latin-300.svg#RedHatMono') format('svg'); /* Legacy iOS */
}
/* red-hat-mono-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/red-hat-mono-v10-latin-300italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-mono-v10-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-mono-v10-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-mono-v10-latin-300italic.svg#RedHatMono') format('svg'); /* Legacy iOS */
}
/* red-hat-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/red-hat-mono-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-mono-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-mono-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-mono-v10-latin-regular.svg#RedHatMono') format('svg'); /* Legacy iOS */
}
/* red-hat-mono-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/red-hat-mono-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-mono-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-mono-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-mono-v10-latin-500.svg#RedHatMono') format('svg'); /* Legacy iOS */
}
/* red-hat-mono-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/red-hat-mono-v10-latin-500italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-mono-v10-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-mono-v10-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-mono-v10-latin-500italic.svg#RedHatMono') format('svg'); /* Legacy iOS */
}
/* red-hat-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/red-hat-mono-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/red-hat-mono-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/red-hat-mono-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/red-hat-mono-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/red-hat-mono-v10-latin-700.svg#RedHatMono') format('svg'); /* Legacy iOS */
}
