{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ 'assets/stylesheets/extra.css' | url }}" />
{% endblock %}

{% block config %}
{{ super() }}
{% if "localsearch" in config["plugins"] %}
<script src="{{ 'assets/javascripts/iframe-worker.js' | url }}"></script>
<script src="{{ 'search/search_index.js' | url }}"></script>
{% endif %}
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.getRegistrations().then(function(registrations) {
      for (let registration of registrations) {
        registration.unregister();
      }
    });
  }
</script>
<script defer data-domain="docs.rockylinux.org" data-api="https://img.resf.workers.dev/img/event" src="https://img.resf.workers.dev/js/script.js"></script>
{% endblock %}

{% block content %}
  {{ super() }}
  {% if page and page.meta %}
    {% if page.meta.author %}
      <p><small>Author: {{ page.meta.author }}</small></p>
    {% endif %}
    {% if page.meta.contributors %}
      <p><small>Contributors: {{ page.meta.contributors }}</small></p>
    {% endif %}
  {% endif %}
{% endblock %}
