---
name: Build and Deploy docs.rockylinux.org

concurrency:
  group: production
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  workflow_dispatch:
  repository_dispatch:
    types: [deploy]

jobs:
  build:
    name: build
    runs-on: self-hosted
    container:
      image: quay.io/rockylinux/rockylinux:9
      options: --user root
    outputs:
      DOCS_SHA: ${{steps.docs-sha.outputs.DOCS_SHA}}
    environment: production
    steps:
      - name: Checkout mkdocs config
        uses: actions/checkout@v4

      - name: "Build Site"
        uses: ./.github/actions/build-and-cache/

      - name: set docs-sha
        id: docs-sha
        run: echo "DOCS_SHA=$DOCS_SHA" >> "$GITHUB_OUTPUT"
  deploy:
    name: deploy
    needs: build
    runs-on: self-hosted
    environment: production
    steps:

      - uses: actions/checkout@v4

        with:
          node-version: 20

      # needs node
      - uses: actions/cache@v4
        id: docs-cache
        with:
          path: build/site/minified
          key: cache-docs-${{ needs.build.outputs.DOCS_SHA }}
          fail-on-cache-miss: false
          enableCrossOsArchive: true

      - name: Retrieve build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-minified
          path: |
            build/minified/site

      - name: Set up Fastly CLI
        uses: fastly/compute-actions/setup@v11
        with:
          cli_version: 'latest'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: npm install
        working-directory: ./compute-js

      - name: restore cached fastly compute package
        id: restore-fastly-cache
        uses: actions/cache@v4
        with:
          path: |
            pkg/*.tar.gz
          key: cache-fastly-${{ steps.docs-sha.outputs.DOCS_SHA }}

      - name: Build Compute Package
        if: steps.restore-fastly-cache.outputs.cache-hit != 'true'
        uses: fastly/compute-actions/build@v11
        with:
          verbose: false
          project_directory: compute-js
        env:
          FASTLY_API_TOKEN: ${{ secrets.FASTLY_API_TOKEN }}

      - name: Upload fastly compute package
        uses: actions/upload-artifact@v4
        with:
          name: build-fastly-wasm
          path: |
            pkg/*.tar.gz

      - name: cache fastly compute package
        id: cache-fastly
        uses: actions/cache@v4
        with:
          path: |
            pkg/*.tar.gz
          key: cache-fastly-${{ steps.docs-sha.outputs.DOCS_SHA }}

      - name: Deploy Compute Package
        uses: fastly/compute-actions/deploy@v11
        with:
          comment: 'Deployed via GitHub Actions'
          project_directory: compute-js
        env:
          FASTLY_API_TOKEN: ${{ secrets.FASTLY_API_TOKEN }}

      - name: Notify documentation channel about deployment Success
        uses: mattermost/action-mattermost-notify@master
        if: false
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MM_WEBHOOK_URL }}
          MATTERMOST_CHANNEL: documentation
          TEXT: |
            [Deployment](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) was completed :white_check_mark:
          MATTERMOST_USERNAME: "Github"

#      - name: Notify documentation channel about deployment Failure
#        uses: mattermost/action-mattermost-notify@master
#        if: failure() && !cancelled()
#        with:
#          MATTERMOST_WEBHOOK_URL: ${{ secrets.MM_WEBHOOK_URL }}
#          MATTERMOST_CHANNEL: documentation
#          TEXT: |
#            [Deployment](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) failed :x:
#          MATTERMOST_USERNAME: "Github"